.layout {
  &-wrapper {
    height: 100%;
  }

  &-header {
    display: flex;
    justify-content: space-between;

    .logo {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 576px){
        display: none;
      }

      &-img {
        width: 80px;
        animation: logo infinite 20s linear;
        cursor: pointer;
      }
      &-title {
        color: #fff;
        cursor: pointer;
        @media screen and (max-width: 768px){
          display: none;
        }
      }
      &-user {
        color: #fff;
        padding: 0 8px;
        font-size: 1.5em;
        @media screen and (max-width: 768px){
          display: none;
        }
      }
    }
    .menu {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      @media screen and (max-width: 576px){
        justify-content: center;
      }
    }
  }
}

@keyframes logo {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}